.footer{
    display: flex;
    gap: 2rem;
    font-size: .8rem;
    font-weight: 400;
    padding: 1rem;
    color: var(--vermelho);
}

.footer__redes{
    display: flex;
    gap: 1rem;
}

.footer__redes--item{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.footer__redes--item-link{
    text-decoration: none;
    color: var(--vermelho);
}
